<ion-view title="About" id="page18">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/vf3MuoOdRVO0PtkIlSAK_https_cdn.evbuc.com_images_30935463_210797026935_1_original.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="about-heading26" style="color:#000000;">About the App</h1>
    <div id="about-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The Nationwide Citizenship Outreach Engagement app was created to facilitate associates access to corporate citizenship activities.</p>

      <p style="color:#000000;">Hackathon Team- KASBYE</p>

      <p style="color:#000000;">Kristen Abbas Sobhan Brittany Yuxi Elizabeth
      </p>
    </div>
    <h3 id="about-heading27" style="color:#000000;">Feedback</h3>
    <form id="about-form6" class="list">
      <label class="item item-input" id="about-input8">
        <span class="input-label">We'd love to hear your suggestions!</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="about-button42" class="button button-positive button-block">Submit</button>
  </ion-content>
</ion-view>