<ion-view title="Dashboard" id="page12" ng-init="checkNotif()">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/zcDlFb1LS1ucLUdc2DwI_w5.12.png" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="dashboard-list6">
      <ion-item id="dashboard-list-item20">Nationwide sponsors Columbus Zoo and Aquarium</ion-item>
      <ion-item id="dashboard-list-item21">About Nationwide History &amp; Archives</ion-item>
      <ion-item id="dashboard-list-item22">Cooperate citizenship in Nationwide</ion-item>
    </ion-list>
    <a ui-sref="menu.recommendations()" id="dashboard-button41" class="button button-positive button-block icon-left ion-location">Ready to Volunteer!</a>
  </ion-content>
</ion-view>