<ion-view title="Intro" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page10">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="intro-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="intro-slide24" style="background-color:#00589F;">
        <div>
          <img src="img/0ZDuXW1Rz28nZnUa0loA_hello.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="intro-heading2" style="color:#FFFFFF;text-align:center;">Philanthropy</h1>
        <div class="spacer" style="height: 65px;"></div>
        <h4 id="intro-heading33" style="color:#FFFFFF;">The Nationwide Foundation awards grants to nonprofit organizations meeting urgent needs in communities where Nationwide members, agents and associates and their families live and work.</h4>
        <a ui-sref="survey()" id="intro-button7" style="color:#FFFFFF;font-size:30px;border-radius:50px 50px 50px 50px;"
          class="button button-positive button-full bottom-button">Get Started!</a>
      </ion-slide-page>
      <ion-slide-page id="intro-slide27" style="background-color:#E85B10;">
        <div>
          <img src="img/Yji1i3fCQTCnxTMwMauM_wg.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 88px;"></div>
        <h2 id="intro-heading28" style="color:#FFFFFF;">Nationwide encourages its associates to invest in strategic efforts that improve the quality of life in their communities.</h2>
        <a ui-sref="survey()" id="intro-button8" style="color:#FFFFFF;font-size:30px;border-radius:50px 50px 50px 50px;" class="button button-positive button-full bottom-button">Get Started!</a>
      </ion-slide-page>
      <ion-slide-page id="intro-slide28" style="background-color:#529F59;">
        <div>
          <img src="img/Z3IrRLRIT4Oooxd0lb7g_vol.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="intro-heading4" style="color:#FFFFFF;text-align:center;">Philanthropy</h1>
        <div class="spacer" style="height: 65px;"></div>
        <div id="intro-markdown5" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:25px;">Nationwide empowers its more than 33,000 associates across the U.S. to donate their time and energy to important causes and charities when they are most in need of support.</p>
        </div>
        <a ui-sref="survey()" id="intro-button9" style="color:#FFFFFF;font-size:30px;border-radius:50px 50px 50px 50px;" class="button button-positive button-full bottom-button">Get Started!</a>
      </ion-slide-page>
      <ion-slide-page id="intro-slide29" style="background-color:#ABC4D8;">
        <div>
          <img src="img/dfQUepJCSJaWZ9Lb2770_ext.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="intro-heading5" style="color:#FFFFFF;text-align:center;">Thanks for joining!</h1>
        <div class="spacer" style="height: 65px;"></div>
        <div id="intro-markdown6" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:25px;">Thanks for being a part of the engagement that makes Nationwide so important to the community! Your contributions are a huge help...etc.</p>
        </div>
        <a ui-sref="survey()" id="intro-button10" style="color:#FFFFFF;font-size:30px;border-radius:50px 50px 50px 50px;" class="button button-positive button-full bottom-button">Get Started!</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>