<ion-view title="My Events" id="page15">
  <ion-content padding="true" class="has-header">
    <h1 id="myEvents-heading23" style="color:#000000;">Calendar</h1>
    <div>
      <img src="img/Zfc4AzD6TYGdA81CDr18_print_out_monthly_calendar_0.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="myEvents-heading24" style="color:#000000;">Upcoming</h1>
    <ion-list id="myEvents-list11">
      <ion-item id="myEvents-list-item38">Blood Donation</ion-item>
      <ion-item id="myEvents-list-item39">Red Cross</ion-item>
      <ion-item id="myEvents-list-item40">United Way</ion-item>
    </ion-list>
  </ion-content>
</ion-view>