<ion-view title="Settings" id="page17">
  <ion-content padding="true" class="has-header">
    <h1 id="settings-heading32" style="color:#000000;">Location</h1>
    <label class="item item-select">
      <span class="input-label">Select</span>
      <select ng-model="data.location">
        <option>Mesa, AZ</option>
        <option>Phoenix, AZ</option>
        <option>Scottsdale, AZ</option>
        <option>Irvine, CA</option>
        <option>Roseville, CA</option>
        <option>Sacramento, CA</option>
        <option>Santa Ana, CA</option>
        <option>Aurora, CO</option>
        <option>Denver, CO</option>
        <option>Gainesville, FL</option>
        <option>Des Moines, IA</option>
        <option>Johnston, IA</option>
        <option>Urbandale, IA</option>
        <option>Shrewsbury, MA</option>
        <option>Worcester, MA</option>
        <option>Baltimore, MD</option>
        <option>Columbia, MD</option>
        <option>Morrisville, NC</option>
        <option>Raleigh, NC</option>
        <option>Lincoln, NE</option>
        <option>Pennsauken, NJ</option>
        <option>Elmsford, NY</option>
        <option>Hawthorne, NY</option>
        <option>Syracuse, NY</option>
        <option>White Plains, NY</option>
        <option>Akron, OH</option>
        <option>Canton, OH</option>
        <option>Cleveland, OH</option>
        <option>Columbus, OH</option>
        <option>Grove City, OH</option>
        <option>Hilliard, OH</option>
        <option>Lancaster, OH</option>
        <option>Marysville, OH</option>
        <option>Westerville, OH</option>
        <option>Worthington, OH</option>
        <option>Enola, PA</option>
        <option>Harleysville, PA</option>
        <option>Harrisburg, PA</option>
        <option>Kulpsville, PA</option>
        <option>Lansdale, PA</option>
        <option>Philadelphia, PA</option>
        <option>San Antonio, TX</option>
        <option>Moseley, VA</option>
        <option>Richmond, VA</option>
        <option>Wausau, WI</option>
      </select>
    </label>
    <h1 id="settings-heading25" style="color:#000000;">Causes</h1>
    <ion-list id="settings-list7">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle2">Animals</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle3">Blood Donation</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle4">Board Development</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle5">Children &amp; Youth</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle6">Community Development</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle8">Disaster Relief</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle9">Education &amp; Literacy</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle7">Emergency &amp; Safety</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle10">Environment</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle11">Faith Based</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle12">Health &amp; Medicine</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle13">Homeless &amp; Housing</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle14">Hunger</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle15">Legal</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle16">LGBT</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle17">People with Disabilities</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle18">Politics</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle19">Seniors</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle20">Sports &amp; Recreation</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle21">Veterans &amp; Military Families</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle22">Women</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>