<ion-view title="Survey" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page11" class="survey-menu-gradient">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="survey-slider2" style="width:100%;height:100%;">
      <ion-slide-page id="survey-slide213">
        <h1 id="survey-heading6" style="color:#373C5D;" class="survey-form">I love working with children, especially through promoting education.</h1>
        <div id="survey-button-bar1" class="button-bar bottom-button">
          <button id="survey-button14" ng-click="clickYes1()" class="button button-positive button-block">Yes</button>
          <button id="survey-button15" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide216">
        <h1 id="survey-heading7" style="color:#373C5D;" class="survey-form">It bothers me to my core that people are hungry and I want to do something about it</h1>
        <div id="survey-button-bar2" class="button-bar bottom-button">
          <button id="survey-button17" ng-click="clickYes2()" class="button button-positive button-block">Yes</button>
          <button id="survey-button18" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide217">
        <h1 id="survey-heading8" style="color:#373C5D;" class="survey-form">I’m passionate about advocating for vulnerable populations including animals, women’s rights, people with disabilities and LGBT.</h1>
        <div id="survey-button-bar3" class="button-bar bottom-button">
          <button id="survey-button19" ng-click="clickYes3()" class="button button-positive button-block">Yes</button>
          <button id="survey-button20" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide218">
        <h1 id="survey-heading9" style="color:#373C5D;" class="survey-form">When I see disasters on the news, I am intrigued and want to learn how to help. </h1>
        <div id="survey-button-bar4" class="button-bar bottom-button">
          <button id="survey-button21" ng-click="clickYes4()" class="button button-positive button-block">Yes</button>
          <button id="survey-button22" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide219">
        <h2 id="survey-heading10" style="color:#373C5D;" class="survey-form">I’m interested in law and politics, and would be willing to provide legal services, assist others navigate political or legal services, or advocate on behalf of my political party.</h2>
        <div id="survey-button-bar5" class="button-bar bottom-button">
          <button id="survey-button23" ng-click="clickYes5()" class="button button-positive button-block">Yes</button>
          <button id="survey-button24" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide220">
        <h1 id="survey-heading11" style="color:#373C5D;" class="survey-form">I pride myself on investing in my community.</h1>
        <div id="survey-button-bar6" class="button-bar bottom-button">
          <button id="survey-button25" ng-click="clickYes6()" class="button button-positive button-block">Yes</button>
          <button id="survey-button26" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide221">
        <h1 id="survey-heading12" style="color:#373C5D;" class="survey-form">I’m a proud American who wants to help veterans and military families.</h1>
        <div id="survey-button-bar7" class="button-bar bottom-button">
          <button id="survey-button27" ng-click="clickYes7()" class="button button-positive button-block">Yes</button>
          <button id="survey-button28" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide222">
        <h1 id="survey-heading13" style="color:#373C5D;" class="survey-form">I’m not afraid of needles, and am passionate about donating blood.</h1>
        <div id="survey-button-bar8" class="button-bar bottom-button">
          <button id="survey-button29" ng-click="clickYes8()" class="button button-positive button-block">Yes</button>
          <button id="survey-button30" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide223">
        <h1 id="survey-heading14" style="color:#373C5D;" class="survey-form">I am strongly rooted in my faith.</h1>
        <div id="survey-button-bar9" class="button-bar bottom-button">
          <button id="survey-button31" ng-click="clickYes9()" class="button button-positive button-block">Yes</button>
          <button id="survey-button32" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide224">
        <h1 id="survey-heading15" style="color:#373C5D;" class="survey-form">I’m interested in being on an organization’s board.</h1>
        <div id="survey-button-bar10" class="button-bar bottom-button">
          <button id="survey-button33" ng-click="clickYes10()" class="button button-positive button-block">Yes</button>
          <button id="survey-button34" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide225">
        <h1 id="survey-heading16" style="color:#373C5D;" class="survey-form">I’m passionate about the environment</h1>
        <div id="survey-button-bar11" class="button-bar bottom-button">
          <button id="survey-button35" ng-click="clickYes11()" class="button button-positive button-block">Yes</button>
          <button id="survey-button36" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide226" ng-click="clickYes12()">
        <h1 id="survey-heading17" style="color:#373C5D;" class="survey-form">I enjoy providing resources and time to those who are ill.</h1>
        <div id="survey-button-bar12" class="button-bar bottom-button">
          <button id="survey-button37" class="button button-positive button-block">Yes</button>
          <button id="survey-button38" class="button button-positive button-block">No</button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="survey-slide227">
        <h1 id="survey-heading18" style="color:#373C5D;" class="survey-form">I’m a kid at heart, and a huge sports fan.</h1>
        <div id="survey-button-bar13" class="button-bar bottom-button">
          <a ui-sref="menu.myProfile()" id="survey-button39" ng-click="clickYes13" class="button button-positive button-block">Yes</a>
          <a ui-sref="menu.myProfile()" id="survey-button40" class="button button-positive button-block">No</a>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>